.section5 {
    text-align: center;
    margin: auto;
}

.section5__wrapper {
    background-color: #fff;
    margin: auto;
    padding: 0 1rem;
}

.section5__title1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #1ab798;
    text-transform: uppercase;
    // margin-top: 60px;
    // margin-bottom: 37px;
    margin: 0 0 15px 0;
  
    &::after {
      content: '';
      height: 1px;
      width: 60px;
      background-color: #babdc1;
      display: inline-block;
      margin-left: 24px;
      vertical-align: middle;
    }
  
    &::before {
      content: '';
      height: 1px;
      width: 60px;
      background-color: #babdc1;
      display: inline-block;
      margin-right: 24px;
      vertical-align: middle;
    }
}

.section5__title2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #1ab798;
    text-transform: uppercase;
    margin-top: 60px;
    margin-bottom: 37px;
    margin: 0 0 50px 0;
}

.section5__customerImg--container {
    margin-bottom: 30px;
}

.section5__customer--img {
    width: 100px;
}

.section5__customer--title {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: #062033;
  text-align: center;
  margin: 0 0 14px;
}

.section5__customer--subtitle {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  margin: 0;
  color: rgba(6, 32, 51, 0.561);
  font-weight: 400;
}

.section5__description--container {
    position: relative;
    text-align: left;
    margin: auto;
}

.section5__description--img {
    position: absolute;
    top: 0;
    left: 0;
}

.section5__description--textContainer {
    width: 70%;
    text-align: center;
    margin: 0 auto 35px;
    padding-top: 20px;
}

.section5__description--text {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    margin: 0;
    font-size: 16px;
    line-height: 1.5;
}

.section5__pagginator--container {
    margin: auto;
    text-align: center;
}

.section5__pagginator--btn {
    width: 10px;
    height: 10px;
    padding: 0;
    border: none;
    border-radius: 50%;
    margin-right: 8px;
    background-color: #d4d3d4;
    cursor: pointer;
}

.section5__pagginator--btn:last-child {
    margin-right: 0;
}

.isActive {
    background-color: #1ab798;
}

@media (min-width: 768px) {
    .section5 {
        // text-align: center;
        // margin: auto;
    }
    
    .section5__wrapper {
        // background-color: #fff;
        // margin: auto;
        padding: 0 2rem;
    }
    
    .section5__title1 {
        // font-family: 'Raleway', sans-serif;
        // font-weight: 700;
        font-size: 28px;
        // color: #1ab798;
        // text-transform: uppercase;
        // margin-top: 60px;
        // margin-bottom: 64px;
        margin: 0 0 64px 0;
        display: inline-block;
      
        &::after {
        //   content: '';
        //   height: 1px;
        //   width: 60px;
        //   background-color: #babdc1;
          display: none;
        //   margin-left: 24px;
        //   vertical-align: middle;
        }
      
        &::before {
        //   content: '';
        //   height: 1px;
        //   width: 60px;
        //   background-color: #babdc1;
        //   display: inline-block;
        //   margin-right: 24px;
        //   vertical-align: middle;
        }
    }
    
    .section5__title2 {
        // font-family: 'Raleway', sans-serif;
        // font-weight: 700;
        font-size: 28px;
        // color: #1ab798;
        // text-transform: uppercase;
        // margin-top: 60px;
        // margin-bottom: 37px;
        margin: 0 0 64px 10px;
        display: inline-block;

        &::after {
          content: '';
          height: 1px;
          width: 60px;
          background-color: #babdc1;
          display: inline-block;
          margin-left: 24px;
          vertical-align: middle;
        }
    }
    
    .section5__customerImg--container {
        // margin-bottom: 30px;
    }
    
    .section5__customer--img {
        width: 150px;
        // ???? origin width: 100px;
    }
    
    .section5__customer--title {
    //   font-family: 'Open Sans', sans-serif;
    //   font-size: 18px;
    //   font-weight: 600;
    //   color: #062033;
    //   text-align: center;
    //   margin: 0 0 14px;
    }
    
    .section5__customer--subtitle {
    //   font-family: 'Open Sans', sans-serif;
    //   font-size: 13px;
      margin: 0 0 65px 0;
    //   color: rgba(6, 32, 51, 0.561);
    //   font-weight: 400;
    }
    
    .section5__description--container {
        // position: relative;
        // text-align: left;
        // margin: auto;
    }
    
    .section5__description--img {
        // position: absolute;
        // top: 0;
        // left: 0;
    }
    
    .section5__description--textContainer {
        width: 75%;
        // text-align: center;
        margin: 0 auto 65px;
        // padding-top: 20px;
    }
    
    .section5__description--text {
        margin: 0;
        font-size: 18px;
        line-height: 1.5;
    }
    
    .section5__pagginator--container {
        margin: auto;
        padding-bottom: 110px;
        // text-align: center;
    }
    
    .section5__pagginator--btn {
        // width: 10px;
        // height: 10px;
        // padding: 0;
        // border: none;
        // border-radius: 50%;
        // margin-right: 8px;
        // background-color: #d4d3d4;
        // cursor: pointer;
    }
    
    .section5__pagginator--btn:last-child {
        // margin-right: 0;
    }
    
    .isActive {
        // background-color: #1ab798;
    }   
}

// !!!!! MEDIA 1200
@media (min-width: 1200px) {
    .section5__wrapper {
        // background-color: #fff;
        // margin: auto;
        padding: 0;
        width: 1000px;
    }
}